
<!DOCTYPE html>
<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<title>Registration</title>
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Registration form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form method="post">
                    {% csrf_token %}
					<input class="text" type="text" name="username" placeholder="Username" required="">
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="password1" placeholder="Password" required="">
					<input class="text w3lpass" type="password" name="password2" placeholder="Confirm Password" required="">
					<div class="wthree-text">
						<div class="clear"> </div>
					</div>
                    {{ form.errors }}
					<input type="submit" value="SIGNUP" class="btn btn-info btn-sm mt-3 mb-4" >
				</form>
				<p>Already have an account? <a href="{% url 'login' %}" class="btn btn-info btn-sm mt-3 mb-4"> Login Now!</a></p>
			</div>
		</div>

	</div>
	<!-- //main -->
</body>
</html>
